@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GrandRainbow";
  src: url("./fonts/grand_rainbow.ttf");
}
@font-face {
  font-family: "Sausage";
  src: url("./fonts/sausage.ttf");
}
